@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");
html {
	position: relative;
	min-height: 100%;
}
body {
	font-family: Roboto, sans-serif;
	background: #f6f6f6;
}
img {
	max-width: 100%;
}
ul, ol {
	list-style: none;
	margin: 0;
	padding: 0;
}
/*footer {*/
	/*padding-top: 3rem;*/
	/*padding-bottom: 3rem;*/
	/*position: absolute;*/
	/*bottom: 0;*/
	/*width: 100%;*/
/*}*/
footer {
	font-size: 0.875rem;
	margin-top: 70px;
	background: #fff;
}
footer .logo {
	max-width: 200px;
	height: 55px;
}
footer .footer-wrapper {
	padding: 70px 0 50px;
}
footer .footer-title {
	margin-bottom: 18px;
	font-size: 0.9375rem;
	font-weight: 700;
	position: relative;
}
footer .footer-about-us {
	font-size: 0.9375rem;
	color: #6A798C;
	font-weight: 400;
}
footer .footer-nav-menu li {
	line-height: 30px;
}
footer a {
	color: #6A798C;
}
a {
	color: #000;
	outline: none;
}
a:hover, a.hover {
	color: #fa6262;
	text-decoration: none;
}
footer p {
	margin-bottom: .25rem;
}
.container-layout {
	background: #fff;
	border-radius: 5px;
	padding: 1.5rem;
}
.breadcrumb {
	background: none;
	padding: 0.3rem 1rem;
	justify-content: flex-end;
	font-size: 0.9rem;
}
.copyright {
	display: inline-block;
	font-size: 0.9375rem;
	color: #6A798C;
}
.card {
	box-shadow: 0px 1px 15px 1px rgba(230, 234, 236, 0.35);
	border: none;
}
.card-columns-2x {
	-webkit-column-count: 2;
	-moz-column-count: 2;
	column-count: 2;
}
.top-divider {
	border-top: 1px solid #E8ECED;
}
.form-group .text-danger {
	font-size: 0.9375rem;
}
.form-control {
	height: 46px;
	border-radius: 5px;
	border: 1px solid #e8eced;
	width: 100%;
	padding: 0 12px;
	transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
.form-control:focus {
	border-color: #fa6262;
	background-color: #fff;
	outline: none;
	box-shadow: none;
}
form label.control-label, .checkbox label {
	font-weight: normal;
	font-size: 0.9375rem;
}
.checkbox input[type="checkbox"] {
	display: none;
}
input[type="checkbox"] + label {
	cursor: pointer;
	position: relative;
}
input[type="checkbox"] + label::before {
	width: 20px;
	height: 20px;
	content: "";
	display: inline-block;
	font-size: 0.9375rem;
	margin: -4px 10px 0 0;
	border-radius: 3px;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	border: 1px solid #dfe5e6;
}
input[type="checkbox"]:checked + label::after {
	font-family: 'FontAwesome';
	content:"\f00c";
	display: inline-block;
	font-size: 15px;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	position: absolute;
	left: 3px;
	top: -1px;
}
.hint-block {
	display: block;
	margin-top: 5px;
	color: #999;
}
form div.required label.control-label:after {
	content: " * ";
	color: red;
}
.error-summary {
	color: #a94442;
	background: #fdf7f7;
	border-left: 3px solid #eed3d7;
	padding: 10px 20px;
	margin: 0 0 15px 0;
}
.not-set {
	color: #c55;
	font-style: italic;
}
.section {
	position: relative;
	padding: 65px 0;
}
.points {
	display: inline-block;
	background: url("../img/points_color.svg") no-repeat;
	background-size: contain;
	background-position: center;
	width: 25px;
	height: 25px;
}
.navbar-block {
	margin-bottom: 2rem;
	box-shadow: 0 2px 15px 0 rgba(0, 0, 0, .1);
	position: relative;
	z-index: 2;
	background: #fff;
}
.navbar-block nav a {
	font-size: 15px;
	font-weight: 500;
	color: #000;
	margin-right: 40px;
}
.navbar-block a:hover {
	text-decoration: none;
	color: #fa6262;
}
.navbar-brand {
	font-size: 1rem;
	margin-left: 0 !important;
	/*background: url("/img/logo.svg") left center no-repeat;*/
	/*width: 38px;*/
	/*height: 38px;*/
	padding: 0;
}
.navbar-brand .brand-text {
	display: inline-block;
	color: #999;
	margin: 12px 0 0 16px;
	padding-left: 16px;
	vertical-align: top;
	border-left: 1px solid #ddd;
	font-size: 0.85rem;
	line-height: normal;
}
.navbar-block .navbar-points {
	margin-right: 21px;
	font-weight: 500;
}
.navbar-block .navbar-points .points {
	width: 20px;
	height: 20px;
}
.navbar-block .navbar-points span {
	vertical-align: middle;
}
.navbar-block .navbar-btn {
	display: inline-block;
	line-height: 44px;
	border-radius: 50px;
	color: #000;
	font-size: 0.875rem;
	padding: 0 11px;
	font-weight: 500;
	background-color: #f9cfd1;
	text-align: center;
	border: 0;
	cursor: pointer;
	-webkit-appearance: none;
}
.navbar-block .navbar-btn.authorized {
	background-color: #d4edda;
}
.navbar-block .navbar-btn span {
	margin: 0 10px 0 13px;
}
.navbar-block .navbar-btn svg {
	width: 24px;
	height: 24px;
	margin-top: 0;
	vertical-align: middle;
	margin-right: 4px;
}
.navbar-block .navbar-btn:hover svg {
	fill: #fff;
}
.navbar-block .navbar-btn:hover {
	background-color: #f7a6aa;
	color: #fff;
	text-decoration: none;
}
.navbar-block .navbar-btn.authorized:hover {
	background-color: #a9dcb5;
}
.navbar-block .navbar-subscribe {
	color: #8f9599;
	font-weight: 500;
	font-size: 14px;
	margin-right: 40px;
}
.navbar-block .navbar-subscribe svg {
	width: 23px;
	height: 17px;
	margin-top: -1px;
	vertical-align: middle;
	margin-right: 17px;
}
.section-wrap {
	padding-top: 100px;
	position: relative;
}
.form-signin {
	width: 100%;
	color: #71818c;
	position: relative;
	margin-top: -171px;
	box-shadow: 0 20px 40px rgba(61, 65, 84, 0.15);
	border-radius: 5px;
	background-color: #fff;
	padding: 48px 90px;
}
.form-signin a {
	font-size: 0.9375rem;
}
.main-banner {
	padding: 5.3rem;
	margin-top: -2rem;
	background: #fafcff;
	z-index: 1;
}
.main-banner .bd-lead {
	margin-bottom: 3.5rem
}
.top-banner {
	padding: 5.3rem;
	margin-top: -2rem;
}
.pagination .page-link {
	background: none;
	color: #333;
	box-shadow: none;
	padding: 0;
	width: 40px;
	height: 40px;
	line-height: 38px;
	margin-right: 5px;
	border-radius: 5px;
	text-align: center;
	background-color: #fff;
	border: 1px solid #E8ECED;
	vertical-align: middle;
	transition: all 0.2s ease-in-out;
}
.pagination .page-item.active .page-link,
.pagination .page-link:hover {
	border-color: #df3844;
	background: #df3844;
	color: #fff;
}
.btn-primary,
.btn-outline-primary {
	color: #fff;
	border: 1px solid #df3844;
	background: #df3844;
	border-radius: 25px;
	font-size: 0.75rem;
	font-weight: 700;
	padding: 9px 16px;
	letter-spacing: 0.5px;
	text-transform: uppercase;
}
.btn-outline-primary {
	color: #333;
	background: none;
}
.btn-primary:hover,
.btn-primary:not(:disabled):not(.disabled):active {
	border-color: #df3844;
	background: none;
	color: #333;
}
.btn-outline-primary:hover,
.btn-outline-primary:not(:disabled):not(.disabled):active {
	border-color: #df3844;
	background: #df3844;
	color: #fff
}
.btn-outline-primary:focus,
.btn-outline-primary:not(:disabled):not(.disabled):active:focus,
.btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-primary.dropdown-toggle:focus,
.btn-primary:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(223, 56, 68, 0.5);
}
.btn-big {
	padding: 14px 25px;
	font-size: 0.85rem;
}
.bd-lead {
	color: #7d7e80;
	font-size: 1.1rem;
	letter-spacing: 0.1px;
	line-height: 29px;
}
.bd-title {
	letter-spacing: -0.01em;
}
.partners {
	/*padding: 2rem 0;*/
	background: #fff;
}
.partners .glide__slides {
	margin: 0;
}
.task-info {
	background: #f6f6f6;
	padding: 5rem 0;
	margin-bottom: -70px;
}
.task-info .bd-title {
	margin-bottom: 2rem;
}
.task-info .task-card .btn {
	margin-top: -16px;
}
.task-card {
	outline: none;
	padding: 0;
	margin-bottom: 20px;
	border-radius: 5px;
	background: #fff;
	box-shadow: 0 1px 6px rgba(61, 65, 84, 0.15);
	border: none;
}
.task-card .task-title {
	font-size: 1.2rem;
	line-height: 1.4;
	margin-bottom: 16px;
	letter-spacing: -0.01em;
}
.task-info .task-card {
	padding: 20px 20px 20px 30px;
	min-height: auto;
}
.task-card .task-name {
	font-size: 1.2rem;
	line-height: 24px;
	margin-bottom: 29px;
}
.task-card .task-reward {
	font-size: 1.5rem;
	line-height: 24px;
	font-weight: 600;
}
.task-card .task-img {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	height: 100%;
	min-height: 200px;
}
.task-card .task-data {
	padding: 30px;
	font-size: 0.85rem;
}
.task-category i {
	color: #df3844;
	font-size: 0.9rem;
	margin-right: 2px;
	font-weight: 500;
}
.see-also .task-card .task-title {
	font-size: 1rem;
}
.see-also .task-card .task-img {
	min-height: 180px;
}
.points-info .bd-title {
	margin-top: 2rem;
	font-size: 1.4rem;
	margin-bottom: 0.5rem;
}
.points-info .bd-lead {
	font-size: 0.9375rem;
	line-height: 22px;
}
.page-title {
	position: relative;
	width: 100%;
	overflow: hidden;
	display: block;
	padding: 70px 0 115px;
	background: #fafcff;
	margin-top: -2rem;
	max-height: 225px;
}
.page-title .bd-title {
	font-size: 2.1rem;
}
.page-title .bd-lead {
	font-size: 1rem;
}
.social {
	display: inline-block;
	line-height: 40px;
	width: 40px;
	height: 40px;
	border-radius: 5px;
	color: #fff !important;
	text-align: center;
	margin-right: 6px;
	margin-bottom: 6px;
	font-size: 15px;
	transition: all 0.1s ease-in-out;
}
.social:last-child {
	margin-right: 0;
}
.social-twitter {
	background-color: #55ACEE;
}
.social-facebook {
	background-color: #39599f;
}
.social-google-plus {
	background-color: #DE4B39;
}
.eauth-service:last-child {
	margin-right: 0;
}
.eauth-service-link {
	text-indent: -99999px;
	border-radius: 50%;
}
.eauth-service-id-proberry .eauth-service-link::before,
.eauth-service-id-proberry .eauth-service-link::after {
	background: url("/img/pb_logo.png") no-repeat;
	background-size: contain;
	width: 40px;
	height: 40px;
	border-radius: 50%;
}
.gift-card {
	position: relative;
	min-height: 260px;
	background: none;
}
.gift-card .gift-bg {
	position: absolute;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	border-radius: 10px;
	z-index: 1;
}
.gift-card .gift-link:hover .gift-bg {

}
.gift-card .gift-content {
	width: 100%;
	top: 30%;
	position: absolute;
	color: #fff;
	z-index: 2;
	text-align: center;
	padding: 20px 20px 0;
}
.gift-categories {
	background: #fff;
	padding: 5rem 0;
	margin-bottom: -70px;
}
.gift-categories .bd-title {
	margin-bottom: 2rem;
}
.gift-categories .card {
	border: 1px solid #E8ECED;
}
.gift-categories .category-title {
	font-size: 1.2rem;
}
.category-list .list-group-item {
	background: none;
	border: none;
	padding: 0.7rem 0;
	font-size: 0.9rem;
	position: relative;
}
.category-list .list-group-item:hover,
.category-list .list-group-item.active {
	padding-left: 12px;
	color: inherit;
}
.category-list .list-group-item:hover::before,
.category-list .list-group-item.active::before {
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -12.5px;
	content: '';
	display: block;
	height: 25px;
	width: 4px;
	background: #df3844;
}
.hover-up {
	top: 0;
	position: relative;
	transition: all 0.2s ease-in-out;
}
.hover-up:hover {
	box-shadow: 0 20px 40px rgba(61, 65, 84, 0.15);
	top: -2px;
}